.trusted-by-brands {
    width: 100%;
}

.trusted-by-brands p {
    color: var(--shades-700, #242424);
    /* heading/is-1 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 67.2px */ 
}

.trusted-by-brands-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.brand-icon {
    margin: 0 auto;
    padding-top: 30px;
    min-height: 40px;
}